.hair, .skin, .dress, .eyes {
    position: absolute;
    transform: scale(1.5);
}
.eyes{
    z-index: 6;
}
.hair{
    z-index: 5;
}
.dress{
    z-index: 4;
}
.hair{
    z-index: 3;
}
.showSelected{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}
.buttonDiv button {
    font-size: 1.5rem;
    border-radius: 20%;
}

.buttonDiv {
    margin: 30px 0;
}

.buttonDiv {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

#characterSelect{
    display: flex;
    flex-direction: row;
}
body{
    background-image:none;
}
form {
    position: relative;
}
input.bodytypeChanger {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    background: var(--secundary-color);
    color: white;
    border-color: var(--secundary-color);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
input#id_name {
    margin: 0px 5px;
}