:root{
    --primary-color:#FFC75F;
    --secundary-color:#845EC2;
    --terciary-color:#FF5E78;
    --background-img1:url('https://blush.design/api/download?shareUri=KYvp1JF-HcNEfE--&w=800&h=800&fm=png');
} 