.container a {   
    border-style: solid;
    margin: 5px;
    background: var(--secundary-color);
    color: white;
    border-color: var(--secundary-color);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
form {
    display: grid;
}