@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    font-family: 'Urbanist', sans-serif; 
    box-sizing: border-box;
   
}
body{
    background-image:var(--background-img1);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-color);
}

.header img{
    padding: 10px;
    height: 6vh;
}
main {
    display: flex;
    justify-content: center;
}
.container{
    align-self:center;
    margin-top: 20px;
}
.right{
    position: absolute;
    top:20px;
    right:20px;
}
button, button:focus, button:active {
    border-color: white;
    background-color: var(--terciary-color);
    border-radius: 5px;
    box-shadow: none;
    color: white;
    outline: none;
    border: 1px solid transparent;
    padding: 5px;
}