{% extends "game/base.html"%}
{% block content %} 
{% load static %}
    <link rel="stylesheet" href="{% static 'game/style/character.css' %}"/>
    <form method='post'>
        {% csrf_token %}
        {{ form }}
        <div id='body1'>
            {% for part, value in character.bodytype_1.items%}
                <select class='{{part}} body1' hidden>
                    {%for item in value%}
                        {% with firstpart=item.id|stringformat:"s"|add:".png" %}{% with secondpart=part|add:firstpart %}{% with url="game/character_sprites/"|add:secondpart%}                       
                        <option value='{% static url %}'></option>
                        {%endwith%} {%endwith%} {%endwith%}
                    {%endfor%}
                </select>
            {%endfor%}
        </div>
        <div id='body2'>
           {% for part, value in character.bodytype_2.items%}
                <select class='{{part}} body2' hidden>
                    {%for item in value%}
                        {% with firstpart=item.id|stringformat:"s"|add:".png" %}{% with secondpart=part|add:firstpart %}{% with url="game/character_sprites/"|add:secondpart%}                       
                        <option value='{% static url %}'></option>
                        {%endwith%} {%endwith%} {%endwith%}
                    {%endfor%}
                </select>
            {%endfor%}
        </div>
        <input type='button' class='bodytypeChanger' onClick='toggleBody()' value='Toggle Body'/>
        <div id='characterSelect'>
            <div id='nextButtons'  class='buttonDiv'>
                {%for n in '0123'|make_list %}
                   <input type='button' id='{{n}}NextButton' onClick='cycleOptions(-1, {{n}})' value='<'/>
                {% endfor %}
            </div>
            <div class='showSelected'>
                <img class='hair' src={% static 'game/character_sprites/H1.png'%} id='H'>
                <img class='eyes' src={% static 'game/character_sprites/E1.png'%} id='E'>
                <img class='skin' src={% static 'game/character_sprites/S1.png'%} id='S'>
                <img class='dress' src={% static 'game/character_sprites/D1.png'%} id='D'>
                <img>
            </div>
            <div id='prevButtons'  class='buttonDiv'>
                {%for n in '0123'|make_list %}
                    <input type='button' id='{{n}}PrevButton' onClick='cycleOptions(1, {{n}})' value='>'/>
                {% endfor %}
            </div>
        </div>
        
        <button type='submit' id='charactermaker'>Save</button>
    </form>

    <script defer src="{% static "game/js/character.js" %}"></script>
    <script>
        let bodyType='body1';
        toggleBody()
        toggleBody()
        function toggleBody(){
            bodyType= ( bodyType == 'body1')? 'body2': 'body1'
             cycleOptions(1,0)
             cycleOptions(1,1)
             cycleOptions(1,2)
             cycleOptions(1,3)
        }
        function cycleOptions(add, side){
            let div = document.getElementById(bodyType);
            let select = div.children[side];
            let n=0
            let t=false
            while(n<select.children.length && t==false){
                t = select.children[n].selected
                n++
            }
            n--;
            m=(n+add)%select.children.length;
            if(m<0){
                m=m+select.children.length
            }
            select.children[n].selected = false;
            select.children[m].selected = true;
            let img;
            let inputid;
            switch(side){
                case 0:
                    img= document.querySelector(".hair")
                    img.src = select.children[n].value
                    inputid = document.querySelector('input[name="hair_id"]')
                    inputid.value = select.children[n].value.match(/([0-9]+).png$/i)[1]
                    break;
                case 1:
                    img= document.querySelector(".eyes")
                    img.src = select.children[n].value
                    inputid = document.querySelector('input[name="eyes_id"]')
                    inputid.value = select.children[n].value.match(/([0-9]+).png$/i)[1]
                    break;
                case 2:
                    img= document.querySelector(".skin")
                    img.src = select.children[n].value
                    inputid = document.querySelector('input[name="skin_id"]')
                    inputid.value = select.children[n].value.match(/([0-9]+).png$/i)[1]
                    break;
                case 3:
                    img= document.querySelector(".dress")
                    img.src = select.children[n].value
                    inputid = document.querySelector('input[name="dress_id"]')
                    inputid.value = select.children[n].value.match(/([0-9]+).png$/i)[1]
                    break;
            }
        }
    </script>

{% endblock content %}