{% extends "game/base.html"%}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'game/style/profile.css' %}"/>
    <form method='post'>
        {% csrf_token %}
        {% if side1 %}
            {% comment %} // show game character {% endcomment %}
            <h4>🎮 Game 1 configuration done ✔ </h4>
            <a href="{% url 'game-form' gamenumber=1 %}">Update game 1</a>
        {% else%}
            <h4>🎮 Game 1 configuration missing ❌</h4>
            <a href="{% url 'game-form' gamenumber=1 %}">Create game 1</a>
        {% endif %}
        {% if side2 %}
            {% comment %} // show game character {% endcomment %}
            <h4>🎮 Game 2 configuration done ✔ </h4>
            <a href="{% url 'game-form' gamenumber=2 %}">Update game 2</a>
        {% else%}
            <h4>🎮 Game 2 configuration missing ❌</h4>
            <a href="{% url 'game-form' gamenumber=2 %}">Create game 2</a>
        {% endif %}
        {% if invitation %}
            <h4>✉ Invitation done  ✔</h4>
            <a href="{% url 'invitation-form' %}">Update invitation</a>
        {% else%}
            <h4>✉ Invitation missing ❌</h4>
            <a href="{% url 'invitation-form' %}">Create invitation</a>
        {% endif %}
        {% if side1 and side2 and invitation %}
            {% if wedding_url%}
                <div hidden>    
                    {{form}}
                </div>
            {%else%}
                    {{form}}
                </br>
            {%endif%}
            </br>
            <button type='submit' id='profilemaker'>Save my changes</button>{% endif %}
        {% if wedding_url and side1 and side2 and invitation%}
            <h4>🍰 Wedding link </h4>
            <a href="https://gamevitation.netlify.app/wedding/{{wedding_url}}">gamevitation.netlify.app/{{wedding_url}}</a>
        {% endif %}
    </form>
    {% comment %} <script>
        form = document.querySelector('form')
        form.addEventListener('submit',validateSubmission)

        function validateSubmission(e){
            e.preventDefault()
        }

    </script> {% endcomment %}




{% endblock content %}